    /*
    Flaticon icon font: Flaticon
    Creation date: 24/09/2020 22:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-problem-1:before { content: "\f100"; }
.flaticon-problem:before { content: "\f101"; }
.flaticon-jigsaw:before { content: "\f102"; }
.flaticon-integration:before { content: "\f103"; }
.flaticon-question:before { content: "\f104"; }
.flaticon-problem-2:before { content: "\f105"; }
.flaticon-puzzle:before { content: "\f106"; }
.flaticon-puzzle-1:before { content: "\f107"; }
    
    $font-Flaticon-problem-1: "\f100";
    $font-Flaticon-problem: "\f101";
    $font-Flaticon-jigsaw: "\f102";
    $font-Flaticon-integration: "\f103";
    $font-Flaticon-question: "\f104";
    $font-Flaticon-problem-2: "\f105";
    $font-Flaticon-puzzle: "\f106";
    $font-Flaticon-puzzle-1: "\f107";